/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
align-items: flex-start;
  gap: 0px;
  padding: 30px;
  width: 100%;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/


form {
border: 1px solid #ccc;
  padding: 30px;
  background-color: #fafafa;
  display: flex;
  gap: 20px;
  width: 100%;
  
}

.sign-in-form-container{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.sign-up-form-header {
  display: flex;
  flex-direction: column;
}

.sign-up-form-container {
 display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  height: 30px;
  width: 24%
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.form-input-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-style: bold;
  font-weight: 600;
  width: 100%;
}

#sign-in-form {
  flex-direction: column;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.form-checkbox-control {
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
  display: flex;
  
}

.form-submit-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 6px;
}

.subtext {
  color: #c5c1c1;
  font-size: 0.9rem;
  margin-top: 5px;
  height: 30px;

}

#sign-in,
#sign-up {
 width: 45%;
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 12px;
}


a {
  color: #335eea;
  text-decoration: none;

}


input {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form select {
  height: 30px;
}

.form-group-horizontal-control{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.form-group-vertical-control {
  display: flex;
  flex-direction: column;
}

.form-radio-control {
  display: flex;
  flex-direction: row; 
  gap: 10px;
  font-weight: normal;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500%;
}

.Gender {
font-style: normal;
font-weight: normal;
}
