/* 👇👇👇 SCROLL DOWN TO THE "EDIT STYLES BENEATH" comment (line 180) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #353843;
}

header {
  background-color: #121216;
}

header,
section {
  padding: 20px 30px;
  color: white;
}

section {
  padding-top: 40px;
}

.content-wrapper {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  
}

.logo-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.logo {
  min-width: max-content;
  font-size: 28px;
  font-weight: 900;
  font-family: "Caveat", sans-serif;
}

.search-bar {
  width: 400px;
  background: #1f1f27;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #8d8ba5;
  font-size: 16px;
  padding: 4px 0;
}

.search-bar i {
  color: #8d8ba5;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  min-width: 60px;
  text-transform: capitalize;
  cursor: pointer;
}

.option i {
  font-size: 20px;
  color: #d5ef9a;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #2b2d36;
  padding-top: 20px;
}

.category {
  padding: 10px 18px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  height: max-content;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
}

.category:hover,
.category.active,
.section-control .view-option:hover,
.section-control .view-option.active {
  background-color: #d5ef9a;
  border: 1px solid #d5ef9a;
  color: #1f1f27;
}



.view-options {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

i.fa-th-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 37px;
  transform: rotate(180deg);
}

i.fa-th {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 37px;
}

i.fa-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 37px;
}

.section-control {
display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #8d8ba5;
}

.section-control .view-option {
  width: 40px;
  height: 40px;
  border: 1px solid #8d8ba5;
  cursor: pointer;
}

 .products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 40px;

}

.product {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  border: 1px solid #8d8ba5;
  border-radius: 8px;
  overflow: hidden;
  background-color: #2b2d36;
}

.product-image-wrapper {
  width: 298px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
}

.product-img {
  object-fit: cover;
}

.product-data {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  height: 500px;
  
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 20px;
}

.product-name {
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.product-description {
  display: flex;
  justify-content: center;
  line-height: 24px;
  color: #8d8ba5;
}

.product-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.product-price {
  display: flex;
  padding: 6px 12px;
  height: max-content;
}

.product-price:before {
  content: "$ ";
}

.buy-btn {
  background-color: tomato;
  color: white;
  padding: 10px 18px;
  border: none;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* 👇👇👇  EDIT STYLES BENEATH  👇👇👇*/

/* GRID VIEW STYLES */

.grid .products {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.grid .product {
  width: 300px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.grid .product-image-wrapper {
  height: 200px;
}

.grid .product-data {
  height: 100%;
}

.grid .product-info {
  text-align: center;
  padding: 0 20px 30px;
}

.grid .product-action {
  padding-top: 30px;
  border-top: 1px solid #8d8ba5;
}

/* LINE VIEW STYLES */

.lines #product-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
 
}

.lines .product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 350px;
  width: 1000px;
  
  
}

.lines .product-image-wrapper {
  min-width: 320px;
  height: 335px;
  display: flex;
  justify-content: flex-start;
  border-radius: 2%;
  border-bottom-left-radius: 20%;
}

.lines .product-data {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.lines .product-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  gap: 30px;
}

.lines .product-action {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

/* LINES-ACTION VIEW */

.lines-action .product {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 1000px;
  gap: 30px;
}


.lines-action .product-image-wrapper {
  display: flex;
  width: 275px;
  min-width: 300px;
  height: 275px;
  border-radius: 1%;
  border-bottom-left-radius: 10%;
  padding: 10px;
}

.lines-action .product-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  gap: 30px;
}

.lines-action .product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 600pc;
  gap: 20px;
}

.lines-action .product-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #8d8ba5;
  padding-left: 30px;
  height: 250px;
  min-width: 200px;
  width: 600px;
}
